* {
    padding: 0;
    margin: 0;
}

.header {
    color: white;
    background-color: #1F2937; 
}

.header-top {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 28px;
}

a {
    text-decoration: none;
    color: white;
}